html, body{
  height: 100%;
}
.fill{
  flex: 1 1 auto;
}
footer{
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  white-space: nowrap;
}

a {
  padding-left: 0.5em;
}

md-toolbar span {
  color: white;
}
