.card-container{
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.sample-content{
  flex: 1;
}
.card-container md-card{
  margin: 5px;
}

.palette-container {
  max-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.palette-container button {
  margin: 0.5em;
}

[md-fab] {
  margin: 0.5em;
  background-color: #000000;
}

md-card-title {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: absolute;
  bottom: 110px;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  padding-left: 0;
}

li button {
  cursor: -webkit-grab;
  width: 2em;
  height: 2em;
}

li {
  list-style: none;
}

.fade-shield {
  opacity: 0.1;
}

@media screen and (max-width: 865px) {
  ul {
    bottom: 220px;
  }

  svg {
    width: 75%;
  }
}

@media screen and (min-width: 866px) and  (max-width: 1175px) {
  ul {
    bottom: 150px;
  }
}

@media screen and (min-width: 568px) and (max-width: 1175px) {
  svg {
    width: 50%;
  }
}
