<div class="card-container">
  <md-card class="sample-content">
    <md-card-content align="center">
      <svg x="0px" y="0px" viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" width="25%" xml:space="preserve">
        <svg:g>
          <svg:polygon [dragula]='"shield"' id="left" [style.fill]="leftColor" [class.fade-shield]="colorDragging" [attr.points]="leftPoints"/>
          <svg:polygon [dragula]='"shield"' id="right" [style.fill]="rightColor" [class.fade-shield]="colorDragging" [attr.points]="rightPoints"/>
          <svg:path [dragula]='"shield"' id="text" [style.fill]="textColor" [class.fade-shield]="colorDragging" [attr.d]="textD"/>
        </g>
      </svg>
    </md-card-content>
  </md-card>
  <md-card>
    <app-color-selector [buttonClicked]="buttonClicked"></app-color-selector>
  </md-card>

</div>
