<md-card-content class="palette-container" fxLayout="row" fxFlex>

  <div *ngFor="let color of colors" fxLayout="row">
    <button fxFlex md-raised-button [ngStyle]="{'background-color': color.primary, 'color': color.text}" (click)="selectColor(color)">{{color.name}}</button>
    <ul [dragula]="'shield'" id="list" *ngIf="selectedColor === color && buttonClicked">
      <li [id]="color.light">
        <button md-fab class="color" [ngStyle]="{'background-color': color.light}"></button>
      </li>
      <li [id]="color.primary">
        <button  md-fab class="color" [ngStyle]="{'background-color': color.primary}"></button>
      </li>
      <li [id]="color.dark">
        <button  md-fab class="color" [ngStyle]="{'background-color': color.dark}"></button>
      </li>
    </ul>
  </div>

</md-card-content>
